/* Общие стили для всех размеров экрана */
.map {
    top: 40px;
    width: 1280px;
    height: 780px;
    border: none;
}

.video-frame,
.calc-frame,
.todo-frame,
.weather-frame {
    position: relative;
    overflow: hidden;
    border: 5px solid #000;
    border-radius: 5px;
}

.slider-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    height: 100%;
}

.iframe,
.iframe-calc,
.iframe_todo,
.iframe-weather {
    width: 1024px;
    height: 640px;
    border: none;
}

/* Медиа-запрос для устройств с шириной экрана до 768px */
@media screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: auto;
        position: relative;
    }

    .map,
    .calc-frame,
    .todo-frame,
    .weather-frame {
        width: 100vw;
        height: 100vh;
    }

    .calc-frame {
        height: 65vh;
    }

    .iframe-calc,
    .iframe_todo,
    .iframe-weather {
        position: absolute;
        width: 100vw;
        height: 100%;
    }

    .todo-frame {
        height: 100vh;
    }

    .submenu-container {
        display: none;
    }

    .container-services {
        text-align: center;
    }
}

/* Медиа-запрос для устройств с шириной экрана до 1024px */
@media screen and (max-width: 1024px) {
    .submenu-container {

    }
}
