/* Общие стили для всех размеров экрана */
.map {
    top: 40px;
    width: 1280px;
    height: 780px;
    border: none;
}

    .video-frame,
    .calc-frame,
    .todo-frame,
    .weather-frame{
        position: relative;
        overflow: hidden;
        border: 5px solid #000;
        border-radius: 5px;
    }

.slider-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    height: 100%;
}

    .iframe,
    .iframe-calc,
    .iframe_todo,
    .iframe-weather {
        width: 1024px;
        height: 640px;
        border: none;
    }


/* Медиа-запрос для устройств с шириной экрана до 768px */
@media screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: auto;
        position: relative;

    }

    .map {
        width: 100vw; /* Занимает всю ширину экрана */
        height: 100vh; /* Занимает всю высоту экрана */
    }

    .calc-frame {
        position: relative;
        border: 3px solid #000;
        border-radius: 3px;
        width: 100vw; /* Занимает всю ширину экрана */
        height: 65vh; /* Занимает всю высоту экрана */

    }

    .iframe-calc {
        position: absolute;
        width: 100vw; /* Занимает всю ширину экрана */
        height: 65vh;

    }

    .todo-frame {
        position: relative;
        border: 3px solid #000;
        border-radius: 3px;
        width: 100vw; /* Занимает всю ширину экрана */
        height: 100vh; /* Занимает всю высоту экрана */
    }

    .iframe_todo {
        position: absolute;
        width: 100vw; /* Занимает всю ширину экрана */
        height: 100%;
    }

    .weather-frame {
        position: relative;
        border: 3px solid #000;
        border-radius: 3px;
        width: 100vw; /* Занимает всю ширину экрана */
        height: 100vh; /* Занимает всю высоту экрана */
    }
    .iframe-weather {
        position: absolute;
        width: 100%; /* Занимает всю ширину экрана */
        height: 100%;
    }
}
/* Медиа-запрос для устройств с шириной экрана до 768px */
@media screen and (max-width: 1024px) {
    .submenu-container {
        display: none;

    }
}