
/* Общие стили для больших экранов */
.Nav {
    background: #191d21; /* Уникальный цвет фона */
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Тень для объема */
}

.HeaderTitle {
    display: block;
    text-align: center;
    margin-left: auto; /* Помещаем заголовок в центр */
    margin-right: auto; /* Помещаем заголовок в центр */
    color: #ffffff; /* Цвет заголовка */
    font-size: 24px; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
}

.NavIcon {
    margin-left: 2rem;
    font-size: 2rem;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff; /* Цвет иконки */
}

.SidebarNav {
    background: #25272a; /* Уникальный цвет фона бокового меню */
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: left 350ms ease-in-out;
    z-index: 10;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1); /* Тень для объема */
}

.SidebarNav.open {
    left: 0;
}

.SidebarWrap {
    width: 100%;
}

/* Media Query для экранов шириной менее 600px (мобильные телефоны) */
@media only screen and (max-width: 600px) {
    .HeaderTitle {
        margin-left: 50px;
    }

    .SidebarNav {
        width: 100%;
    }
}

/* Media Query для экранов шириной от 601px до 1024px (планшеты) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .HeaderTitle {
        margin-left: 0;
    }

    .SidebarNav {
        width: 100%;
    }
}

/* Sidebar.css */

.NavIcon {
    transition: transform 0.2s ease; /* Добавляем плавность анимации для свойства transform */
}

.NavIcon:hover {
    transform: scale(1.2); /* Увеличиваем размер иконы при наведении */
}



.NavIcon.rotate {
    transform: none; /* Вращаем иконку на 360 градусов */
}