
.Nav {
    z-index: -1;
    height: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 60% 20%;
    background: linear-gradient(to right, #4cb8c4, #3cd3ad, #77bd77, #83a8c4);
}

.HeaderTitle {
    display: block;
    text-align: center;
    margin: 0 auto;
    color: #17674b;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    letter-spacing: 2px;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.HeaderTitle:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.NavIcon {
    margin-left: 2rem;
    font-size: 2rem;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
}

.SidebarNav {
    background: linear-gradient(to bottom, #4cb8c4, #3cd3ad);
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: left 350ms ease-in-out;
    z-index: 10;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}


.SidebarNav.open {
    left: 0;
}

.SidebarWrap {
    width: 100%;
}


@media only screen and (max-width: 600px) {
    .HeaderTitle {
        font-size: 10px;
        text-align: center;

    }

    .SidebarNav {
        width: 100%;
    }
}


@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .HeaderTitle {
        font-size: 20px;
        text-align: center;
    }

    .SidebarNav {
        width: 100%;
    }
}



.NavIcon {
    transition: transform 0.2s ease;
}

.NavIcon:hover {
    transform: scale(1.2);
}



.NavIcon.rotate {
    transform: none;
}