@import "../node_modules/normalize.css";

/* Общие стили для всех устройств */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


    .home,
    .services,
    .reports,
    .contact,
    .events,
    .support {
        display: flex;
        margin-left: 260px;
        font-size: 2rem;
    }



/* Стили для ссылок */
a {
    text-decoration: none;
}

